{% load  static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{% static 'style.css' %}">

    <title>Digit_Recognizer</title>
</head>
<body>
        <div class="container">
          <h1>Digit Recognizer</h1>


              <p>Desenhe um numero de apenas um digito e clique em “pronto” e o algoritmo de inteligência artificial irá dizer qual numero é.</p>
                      
              <div class="containerQuadro">
                <canvas id="quadro"></canvas>
              </div>
            

              <form method="post">
                {% csrf_token %}

                <div id="app">

                </div>
                
              </form>
               

          <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
          <script src="{% static 'js/app.js' %}"></script>
          <script src="{% static 'js/canvas.js' %}"></script>

          <footer>Desenvolvido por Eudson Durães, veja o código aqui  </footer>

        </div>

</body>

</html>